<div class="container">
  <div class="bg-image">
    <img src="assets/images/dhanesh.png" alt="Snow" style="width:100%;">
    <div class="middle">
      <div class="text"><H4>DHANESH ABRAHAM</H4></div>
      <div>           
        <span class="badge rounded-pill badge-notification bg-dark"><fa-icon [icon]="fafollowers"></fa-icon><h6>Followers</h6>{{followersno}}</span>
      </div>


      <div class="btn-holder">
        <button type="button" class="btn btn-outline-success glow-on-hover" (click)="addFollowers()">Follow</button>
      </div>
      <ul class="wrapper">
        <li class="icon facebook">
          <span class="tooltip">Facebook</span>
          <span><fa-icon [icon]="fafacebook"></fa-icon></span>
        </li>
        <li class="icon twitter">
          <span class="tooltip">Twitter</span>
          <span><fa-icon [icon]="fatwitter"></fa-icon></span>
        </li>
        <li class="icon instagram">
          <span class="tooltip">Instagram</span>
          <span><fa-icon [icon]="fainstagram"></fa-icon></span>
        </li>
        <li class="icon github">
          <span class="tooltip">Github</span>
          <span><fa-icon [icon]="fagithub"></fa-icon></span>
        </li>
        <li class="icon youtube">
          <span class="tooltip">Youtube</span>
          <span><fa-icon [icon]="fayoutube"></fa-icon></span>
        </li>
      </ul>
      
    </div>


  </div>
    
  </div>